<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template(~{::#mainBody})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="mainBody">
    <div sec:authorize="hasRole('ADMIN')"
         style="text-align: center; margin: 10px">
        <a role="button" href="/" th:href="@{/candle}" class="btn btn-dark" style="background-color: #1c2331; border-color: #1c2331;">Add Candle</a>
    </div>
    <table class="table-items">
        <tbody class="items-container" style="display: flex; align-content: center; justify-content: center;">
        <tr th:if="${candles.isEmpty()}">
            <td colspan="2"> No Items Available</td>
        </tr>
        <tr class="table-row-items" th:each="candle : ${candles}">
            <td>
                <div class="card" style="width: 20rem; height: fit-content;">
                    <img class="card-img-top" style=" height: 173.663px"
                         th:src="@{/img/{id}.jpg(id=${candle.getFileCover().getId()})}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${candle.getTitle()}"></h5>
                        <p class="card-text">Description: <span th:text="${candle.getDescription()}"></span></p>
                        <p class="card-text">Price: <span th:text="${candle.getPrice()}"></span>$</p>

                        <form th:object="${chosenCandleDto}"
                              th:action="@{/candle/{candleId}(candleId=${candle.getId()})}"
                              method="post">
                            <label for="quantity">Quantity:</label>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></p>
                            <input th:field="*{quantity}" type="number" placeholder="0" name="quantity" id="quantity"
                                   size="2"
                                   maxlength="12"
                                   value="1" title="Quantity:" class="input-text qty">
                            <div style="display: flex; align-content: center; justify-content: center;">
                                <button style="margin-top: 10px; width: 100%; background-color: #1c2331; border-color: #1c2331;" type="submit"
                                        class="btn btn-dark">Add to Cart
                                </button>


                            </div>
                        </form>

                        <form sec:authorize="hasRole('ADMIN')" th:object="${candle}"
                              th:action="@{/candle/{candleId}(candleId=${candle.getId()})}"
                        >
                            <button style="margin-top: 10px;width: 100%;background-color: #1c2331; border-color: #1c2331; " type="submit"
                                    class="btn btn-dark">Edit Candle
                            </button>
                        </form>
                    </div>

                </div>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>