<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{template(~{::#mainBody})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="mainBody">


    <div class="col-25">
        <div class="container">
            <h4>Cart
                <span style="color:black">
        </span>
            </h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="candle:${shoppingCartDto.candles}">
                    <td>
                        <div>

                            <p th:text="${candle.name}"></p>

                        </div>
                    </td>
                    <td>
                        <h5 th:text="${'$'+candle.price}"></h5>
                    </td>
                    <td>
                        <div>
                            <input th:value="${candle.quantity}" readonly type="text" name="qty" id="sst"
                                   maxlength="12" value="1" title="Quantity:"
                            >
                        </div>
                    </td>
                    <td>
                        <h5 th:text="${'$'+candle.total}"></h5>
                    </td>
                    <td>
                        <form th:method="delete"
                              th:object="${candle}"
                              th:action="@{/candle/{candleId}(candleId=${candle.getId()})}"

                        >
                            <button style="margin-top: 10px;width: 100%;background-color: #1c2331; border-color: #1c2331; " type="submit"
                                    class="btn btn-dark">X
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>

            <div>
                <h5>Subtotal</h5>
                <h5 th:text="${'$'+shoppingCartDto.subTotal}"></h5>
            </div>
            <hr>

            <div style="display: flex; justify-content: space-between;">
                <a role="button" href="/" th:href="@{/candles}" class="btn btn-dark" style="background-color: #1c2331; border-color: #1c2331;">Continue Shopping</a>
                <a role="button" href="/" th:href="@{/checkout}" class="btn btn-dark" style="background-color: #1c2331; border-color: #1c2331;">Proceed to Checkout</a>
            </div>
        </div>
        <hr>

    </div>
</div>
</body>
</html>