<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout (mainBody)" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <base href="/"/>
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg" style="background-color: #1c2331;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="display: flex; justify-content: space-between; width: 100%;">
                <a class="nav-link" href="/candles" style="color: white">Home</a>

                <a class="navbar-brand" href="#">
                    <img src="../static/img/image.jpg" height="35" width="150" th:src="@{img/image.jpg}"
                         alt="Sample image"/>
                </a>
                <div sec:authorize="!isAuthenticated()">

                </div>
                <li sec:authorize="isAuthenticated()" class="nav-item" style="display: flex;">
                    <a class="nav-link" href="/user/account" style="color: white">My Account </a>
                    <a class="nav-link" href="/cart" style="color: white">Shopping Cart </a>
                    <a class="nav-link" th:href="@{/logout}" style="color: white">Logout</a>
                </li>


            </ul>

        </div>
    </nav>
</header>

<div>

    <main class="main-container">
        <div th:replace="${mainBody}"></div>
    </main>

</div>

<footer
        class="text-center text-lg-start text-white footer"
        style="background-color: #1c2331; padding: 1rem"
>

    <!-- Section: Links  -->
    <section class="">
        <div class="text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">About Us</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p>
                        We aspire to provide you with the best
                        scented candle experience you can get.
                        We also provide a various choice of
                        witchy candles if you are interested.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contact Us</h6>
                    <hr
                            class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px"
                    />
                    <p> Bucharest, Some Place in Buc, RO</p>
                    <p> our.email@example.com</p>
                    <p> +4 072 0123 0438</p>
                    <p> +4 072 6437 5436</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>